@model List<CloudStorage.Domain.FileAggregate.FileInfo>

<!--Drawing tree view-->
<div class="divTreeView" id="partial_view_treeview">
    <div class="treeview">
        @if (Model != null && Model.Count() > 0)
            {
            <ul>
                @Treeview.GetTreeView(Model, Model.FirstOrDefault().ParentID)
            </ul>
        }
    </div>
</div>
