<!--Displays in area icons and names of files-->

<div id="block_view_files_folders">
    <div onmousedown="HideMenu('contextMenu');"
         onmouseup="HideMenu('contextMenu');"
         oncontextmenu="ShowMenu('contextMenu',event);"
         class="bottom-three"
         id="dropArea">
        <div>
            @if (ViewBag.DataIconsFiles != null)
            {
                foreach (var file in ViewBag.DataIconsFiles)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 property-align-center">
                        <img src="~/Content/Icons/txt.png" width="50" height="50" />
                        <br />
                        @file
                    </div>
                }
            }
        </div>
        <div id="progressBar">
            <progress value="0" max="100" id="progresBar">
                Текст
            </progress>
        </div>
    </div>
</div>

