
<!--Dialog box-->
<div class="containerDialog">
    <div id="dialog" title="New folder">
        <form action="" method="post" onsubmit="return false">
            <label>Name:</label>
            <input id="name" name="name" type="text">
            <input id="submit" type="submit" value="Create">
        </form>
    </div>
</div>
