@model List<CloudStorage.Domain.FileAggregate.FileInfo>

<!--Drawing tree view-->
    <div class="divTreeView" id="partial_view_treeview">
        <a href="javascript:void(0);" onclick="selectItemFileInTreeview(this);showFilesInFolder(0)">Root folder</a>
        <div id="scrollbar">
            @if (Model != null && Model.Count() > 0)
            {
                <ul id="browser" class="filetree">
                    @Treeview.GetTreeView(Model, Model.FirstOrDefault().ParentID, ViewBag.ListSubfoldersID)
                </ul>
            }
        </div>
    </div>
