@model CloudStorage.UI.Models.TreeViewAndBrowsingFilesModel
@{
    ViewBag.Title = "Index";
}

<h2> </h2>



@Html.Partial("_Treeview", Model.TreeviewItems);

<!--Displays in area icons and names of files-->
@Html.Partial("_BrowsingFIles", Model.IconItems);
