 html, body { 
      background-color: ghostwhite;
  
      padding: 0;
    overflow: hidden;
 }
        .ContextItem {
            background-color: White;
            color: Black;
            font-weight: normal;
        }

            .ContextItem:hover {
                background-color: #0066FF;
                color: White;
                font-weight: bold;
            }
             .bottom-three {
                margin-bottom: 30cm;
             }
             #displayingData {
                position:absolute;
                top: 25%; 
                left: 25%; 
               height:100%;
              width:100%;
             }
             #dropArea {
             background-color: khaki;
              height:100%;
              width:100%;
        }
            #progressBar {
               position: fixed;
                bottom: 0;
                right: 0;
            }
          .property-align-center {
            text-align: center;
        }

