@using CloudStorage.UI.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<p class="text-success">@ViewBag.StatusMessage</p>


        <div class="row">
            <div class="col-md-offset-4">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
       
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    <div class="row">
                        <div class="col-md-offset-3">
                            <h4>
                                You do not have a local username/password for this site.
                            </h4>
                        </div>
                    </div>
                }

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
